:root {
    --main-color: #C89446;
    --paragraph: #6F6F6F;
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    color: #FFFFFF;
    font-family: "source sans pro", sans-serif;
    line-height: 1.625;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--main-color);
}

p {
    color: var(--paragraph);
    margin: 0;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
    margin: 0;
}

.header {
    background:
            linear-gradient(180deg, rgba(0,0,0,0.92), rgba(54,54,54,0.5) 39.24%, rgba(28,28,28,0.4)),
            url("img/eggs.jpg") center center / cover no-repeat;
}

.nav {
    font-size: 0.875rem;
    text-align: center;
    text-transform: uppercase;
}

.nav-menu a {
    margin-top: 20px;
}

.nav-title {
    letter-spacing: 2px;
}

.header {
    padding: 33px 20px;
}

.nav-item {
    display: inline-block;
    letter-spacing: 2px;
    margin-left: 33px;
}

.reservation {
    border: solid 1px var(--main-color);
    border-radius: 2px;
    margin-top: 5px;
    padding: 7px 10px;
    transition-property: color, background-color;
}

.reservation:hover {
    background-color: var(--main-color);
    color: #FFFFFF ;
}

.baseline {
    line-height: 1;
    margin: 50px 0 70px 0;
    text-align: center;
}

.welcome {
    color: var(--main-color);
    font-family: "Pinyon Script", serif;
    font-size: 2.2rem;
}

.big-title {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.specialities {
    display: block;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.card-picture {
    align-self: center;
    background: url(img/Burger_Mobile_mini.jpg);
    height: 107px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 130px;
    padding-right: 70px;
    width: 88px;
}

.card-body {
    color: #000;
}

.card-body-subtitle{
    color: var(--main-color);
    font-family: "Pinyon Script", serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
    width: 100px;
}

.card-body-title{
    color: #000;
    font-family: "source sans pro", sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card-body-btn {
    color: var(--main-color);
    display: inline-block;
    font-family: "source sans pro", sans-serif;
    font-size: 1rem;
    margin-top: 24px;
}

.card-body-btn::after{
    background: url("img/Shape.png") center center / 5px 9px no-repeat;
    color: var(--main-color);
    content: '';
    display: inline-block;
    height: 9px;
    margin-left: 10px;
    vertical-align: middle;
    width: 5px;
}

.stroke {
    border: solid 1px var(--main-color);
    content: '';
    height: 2px;
    margin-bottom: 24px;
    width: 24px;
}

.menu {
   display: block;
   height: 923px;
   margin: 20px auto 0;
   position: relative;
   width: 1187px;
}

.menu-card {
    height: 191px;
    left: 277.5px;
    position: absolute;
    right: auto;
    width: 640px;
}

.menu-stroke {
    border: solid 1px var(--main-color);
    content: '';
    display: inline-block;
    height: 2px;
    left: 308px;
    position: absolute;
    width: 24px;
}

.menu-subtitle {
    color: var(--main-color);
    font-family: "Pinyon Script", serif;
    font-size: 2.5rem;
    padding-top: 16px;
    text-align: center;
}

.menu-title {
    color: #000;
    font-family: "source sans pro", sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 8px;
    margin-top: -20px;
    text-align: center;
    text-transform: uppercase;
}

.menu-body {
    color: var(--paragraph);
    font-family: "Source Sans Pro", serif;
    line-height: 1.625;
    margin-bottom: 64px;
    text-align: center;
}

.ingredients {
    display: block;
    height: 24px;
    left: 11%;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    right: auto;
    text-align: left;
    width: 502px;
}

.ingredients li {
    color: #383838;
    display: inline-block;
    font-family: "Source Sans Pro";
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 65px;
    text-decoration: none;
    text-transform: uppercase;
}

.ingredients li:last-child {
    margin-right: 0;
}

.ingredients .active {
    border-bottom: 2px solid var(--main-color);
}

.square {
    border: 1px solid var(--main-color);
    content: '';
    display: block;
    height: 425px;
    left: 108px;
    position: relative;
    right: auto;
    top: 130px;
    transform: rotate(45deg);
    width: 425px;
    z-index: 0;
}

.menu-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 0;
    margin-bottom: 72px;
    position: relative;
    top: 0;
}

.menu-item {
    display: flex;
    height: 170px;
    position: absolute;
    width: 553px;
}

.menu-item-left{
    left: 38px;
}

.menu-item-right{
    right:-25px;
}

.menu-item-upper{
    top: 405px;
}

.menu-item-lower{
    top: 670px;
}

.menu-picture-1 {
    background: url(img/crusted-chicken-small.jpg) no-repeat ;
    height: 160px;
    margin-right: 32px;
    width: 160px;
}

.menu-picture-2 {
    background: url(img/bobun-light-square.jpg) no-repeat ;
    height: 160px;
    margin-left: 32px;
    order: 2;
    width: 160px;
}

.menu-picture-3 {
    background: url(img/poisson-square.jpg) no-repeat ;
    height: 160px;
    margin-right: 32px;
    width: 160px;
}

.menu-picture-4 {
    background: url(img/paella-square.jpg) no-repeat ;
    height: 160px;
    margin-left: 32px;
    order: 2;
    width: 160px;
}

.menu-item-title {
    color: #383838;
    font-family: "Source Sans Pro", serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

.menu-item-content {
    font-size: 0.875rem;
    height: 170px;
    width: 297px;
}

.menu-item-content-left {
    text-align: left;
}

.menu-item-content-right {
    text-align: right;
}

.menu-item-price {
    color: var(--main-color);
    font-family: "Pinyon Script";
    font-size: 40px;
}

.menu-item-title, .para {
    background-color: #FFF;
}

.para {
    font-size: 0.875rem;
    padding-bottom: 9px;
    line-height: 24px;
}

.card-chef {
    display: flex;
    justify-content: center;
    height: 549px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.card-chef-text {
    height: 349px;
    margin: 165px 39px 77px 0;
    position: relative;
    width: 716px;
    font-size: 16px;
    flex-shrink: 0;
}

.card-chef-picture {
    background: url(img/chef.png) no-repeat;
    height: 522px;
    position: relative;
    top: 96px;
    width: 354px;
    z-index: 1;
}

.card-chef-signature {
    background: url(img/signature.png);
    height: 111px;
    position: absolute;
    width: 181px;
    bottom: -48px;
    right: -165px;
    z-index: 2;
}

.card-chef-text a {
    margin-top: 61px;
}

.secondPara {
    display: inline-block;
    margin-top: 15px;
}

.reservation-form {
    background: linear-gradient(180deg, rgba(0,0,0,0.92), rgba(36,36,36,0.5)),
                url(img/reservation.jpg) center center / cover no-repeat;
    height: 600px;
    margin: 70px auto 0;
    width: 100%;
		position: relative;
		z-index:1;
	}

.form-header {
    height: 167px;
    margin: 70px auto 64px;
    padding-top: 97px;
    width: 640px;
    text-align: center;
}

.reservation-form .form-header .card-body-subtitle {
	margin: 0 auto;
	position: relative;
	top:0;
	left: -42px;
}


.reservation-form, .form-header .stroke {
	margin: 0 auto;

}

.reservation-form .card-body-title {
    color: #FFF;
}

.form-input {
		display: flex;
		flex-wrap: wrap;
		justify-content:center;
		padding-top: 120px;
		position: relative;
		width: 825px;
		margin: 0 auto;
}

.reservation-form input{
		color: #FFF;
		margin-right: 30px;
		padding: 16px;
		width: 255px;
		height: 40px;
		text-transform: uppercase;
		border-width: 1px;
		border-radius: 2px;
		letter-spacing: 2px;
		background: url(img/select.png) 10px 5px no-repeat;
		background-position-x: 94%;
	  background-position-y: 20px;
	}


.focus {
		background-color: rgba(255,255,255,0.1);
		border-color: var(--main-color);
		outline: none;
}

.reservation-form input::placeholder{
		color: #FFF;
		opacity: 1;
		font-size: 14px;
}

#persons, #datetime {
		background-color: rgba(255,255,255,0);
		border-color: var(--paragraph);
		outline: none;
}

#datetime {
	margin-right: 0;
}

input::autofocus {
		border-color: var(--main-color);
}

.reserv-button {
		text-transform: uppercase;
		margin: 0 auto;
		border: 1px solid var(--main-color);
		color: #FFF;
		background-color: var(--main-color);
		letter-spacing: 2px;
		padding: 11px 56px;
		border-radius: 2px;
		margin-top: 64px;
		font-size: 14px;
		font-weight: 600;
}

.recipes {
		height: 772px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		overflow: hidden;
}

.news-picture {
		position: relative;
		height: 480px;
		width: 589px;
		top: -25px;
		left:0;;
}

.recipes-header {
		width: 720px;
		height: 167px;
		color:#000;
		margin: 80px 150px 64px auto;
		position: absolute;
		right: 0;
		left: auto;
}
	
.recipes-content {
		position: relative;
		right: auto;
		display: block;
		left: -180px;
		top:311px;
}

.recipes .menu-stroke, .recipes .menu-subtitle, .recipes .menu-title, .recipes .menu-body {
		text-align: right;
		right: 0;
		left: auto;
}

.recipes-para {
		display: flex;
		justify-content: space-between;
		height: 90px;
		width: 922px;
		line-height: 1.75;
		font-size: 18px;
		color: var(--paragraph);
		margin-right: 165px;
		margin-bottom: 24px;
}

.recipes-para-date {
		text-transform: uppercase;
		width: 33px;
		height: 56px;
		margin-right: 61px;
		margin-top: -7px;
		text-align: center;
		line-height: initial;
		letter-spacing: 2px;
		font-size: 18px;
		flex-shrink: 1;
		font-weight: 300;
		color: #383838;
}

.recipes-para:last-child {
		margin-bottom: 64px;
}

.recipes-para-date span {
		font-size: 28px;
		font-weight: 700;
}

.recipes-content .card-body-btn {
		position: absolute;
		right: 145px;
		left: auto;
		margin-top: 0;
		font-size: 16px;
}

.recipes-content .card-body-btn::after {
		margin-left: 18px;
}

.map {
		background: url("img/google-map.png") center center / cover no-repeat; 
		height: 464px;
		width: 1442px;
		margin: 0 auto;
		position: relative;
		z-index: 1;
		overflow: hidden;
}

.left-arrow {
		height: 0;
		width: 0;
		border-top: 21px solid transparent;
		border-bottom: 21px solid transparent;
		border-right: 21px solid var(--main-color);
		left: -21px;
		top: 36px;
		position: absolute;
		z-index: 3;
}

.rectangle-message {
		position: relative;
		height: 112px;
		width: 315px;
		background-color: var(--main-color);
		border-radius: 2px;
		left: 372px;
		top: 215px;
		z-index: 2;
}

.rectangle-message .menu-title {
		color: #FFF;
		font-size: 1.125rem;
		margin: 0 auto;
		display: block;
		position: relative;
		top: 15px;
}

.rectangle-message .message-para {
		height: 52px;
		width: 263px;
		margin: 18px auto;
		line-height: 1.625;

}

.rectangle-message .message-span {
		display: block;
		text-align: center;
}

footer {
		height: 325px;
		width: 100%;
		background-color: #383838;
		position: relative;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: flex-start;
}

.splash {
		height:337px;
		width: 425px;
		position: absolute;
		bottom: 0;
		right: 0;
	}

.fiasco {
		height: 125px;
		width: 445px;
}

.address{ 
		height: 125px;
		width: 254px;
}

.hours {
		height: 90px;
		width: 290px;
}

.fiasco, .address, .hours {
		margin-top: 48px;
}

.fiasco, .address {
		margin-right: 61px;
}

.footer-title {
		display: block;
		font-size: 1rem;
		font-weight: 700;
		color: #C99649;
		line-height: 2.5;
		text-transform: uppercase;
}

.footer-para {
		display: block;
		font-size: 1rem;
		color: #FFF;
		font-weight: 300;
		line-height: 1.875;
}

.copyright {
		margin-top: 72px;	
}

.copyright .footer-title {
		color: #FFF;
		text-transform: uppercase;
		font-weight: 400;
		line-height: 1;
}

.copyright .footer-title, .copyright .footer-para {
		display: inline;
		font-size: 15px;
}

@media only screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }

    body {
        background: linear-gradient(to top,rgba(255,255,255,0.6),rgba(255,255,255,0.6))
    }

    .main {
        position: relative;
    }

    .oranges {
        margin-top: 20px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .spices {
        left: 0;
        position: absolute;
        top: 33%;
    }

    .nav {
        align-items: baseline;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1110px;
    }

    .nav-title a{
        display: inline-block;
        margin-bottom: 0;
    }

    .reservation {
        margin-top: 0;
    }

    .baseline {
        padding: 98px 0 170px;
    }

    .welcome {
        font-size: 3.75rem;
    }

    .big-title {
        font-size: 68px;
        letter-spacing: 13px;
        margin-top: 9px;
    }

    .specialities {
        font-size: 1.5rem;
        letter-spacing: 4px;
    }

    .card {
        align-items: center;
        display: flex;
        height: 455px;
        justify-content: space-between;
        margin: -20px auto 90px;
        position: relative;
        width: 919px;
    }

    .card-body {
        height: 269px;
        width: 445px;
    }

    .card-body-left{
        margin-left: 94px;
    }

    .card-body-right {
        margin-right: 94px;
    }

    .card-picture {
        height: 425px;
        margin: -30px 0 0 0;
        padding: 0;
        width: 350px;
        z-index: 2;
    }

    .card-picture-left {
        background: url(img/burger_desktop.jpg);
        transform: translate(30px,30px);
   }

    .card-picture-right {
        background: url(img/crusted-chicken-nm.jpg);
        order: 2;
        transform: translate(-30px,30px);
    }

    .box-left {
        border: solid 2px var(--main-color);
        border-radius: 2px;
        content: '';
        height: 425px;
        position: absolute;
        top: 0;
        width: 350px;
        z-index: 1;
    }

    .box-right {
        border: solid 2px var(--main-color);
        border-radius: 2px;
        content: '';
        height: 425px;
        position: absolute;
        right:0;
        top: 0;
        width: 350px;
        z-index: 1;
    }

     .card-body-subtitle{
        margin-top: 0;
        padding-top: 0;
    }

    .card-body-title{
        margin-bottom: 10px;
        margin-top: -22px;
        padding-top: 0;
    }
		
	.map {
		width: 100%;
	}
    
    .recipes-content{
        left: -366px;
    }

    .rectangle-message {
        left: 305px;
    }
}
