:root {
    --main-color: #C89446;
    --paragraph: #6F6F6F;
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    color: #FFFFFF;
    font-family: "source sans pro", sans-serif;
    line-height: 1.625;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--main-color);
}

p {
    color: var(--paragraph);
}

li {
    list-style-type: none;
}

.header {
    background:
            linear-gradient(180deg, rgba(0,0,0,0.92), rgba(54,54,54,0.5) 39.24%, rgba(28,28,28,0.4)),
            url("img/eggs.jpg") center center / cover no-repeat;
}

.nav {
    font-size: 0.875rem;
    text-align: center;
    text-transform: uppercase;
}

.nav-menu a {
    margin-top: 20px;
}

.nav-title {
    letter-spacing: 2px;
}

.header {
    padding: 33px 20px;
}

.nav-item {
    display: inline-block;
    letter-spacing: 2px;
    margin-left: 33px;
}

.reservation {
    border: solid 1px var(--main-color);
    border-radius: 2px;
    margin-top: 5px;
    padding: 7px 10px;
    transition-property: color, background-color;
}

.reservation:hover {
    background-color: var(--main-color);
    color: #FFFFFF ;
}

.baseline {
    line-height: 1;
    margin: 50px 0 70px 0;
    text-align: center;
}

.welcome {
    color: var(--main-color);
    font-family: "Pinyon Script", serif;
    font-size: 2.2rem;
}

.big-title {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.specialities {
    display: block;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.card-picture {
    align-self: center;
    background: url(img/Burger_Mobile_mini.jpg);
    height: 107px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 130px;
    padding-right: 70px;
    width: 88px;
}

.card-body {
    color: #000;
}

.card-body-subtitle{
    color: var(--main-color);
    font-family: "Pinyon Script", serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
    width: 100px;
}

.card-body-title{
    color: #000;
    font-family: "source sans pro", sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card-body-btn {
    color: var(--main-color);
    display: inline-block;
    font-family: "source sans pro", sans-serif;
    font-size: 1rem;
    margin-top: 24px;
}

.card-body-btn::after{
    background: url("img/Shape.png") center center / 5px 9px no-repeat;
    color: var(--main-color);
    content: '';
    display: inline-block;
    height: 9px;
    margin-left: 10px;
    vertical-align: middle;
    width: 5px;
}

.stroke {
    border: solid 1px var(--main-color);
    content: '';
    height: 2px;
    margin-bottom: 24px;
    width: 24px;
}

.menu {
   display: block;
   height: 924px;
   margin: 20px auto 80px;
   position: relative;
   width: 1187px;
}

.menu-card {
    height: 191px;
    left: 277.5px;
    position: absolute;
    right: auto;
    width: 640px;
}

.menu-stroke {
    border: solid 1px var(--main-color);
    content: '';
    display: inline-block;
    height: 2px;
    left: 308px;
    position: absolute;
    width: 24px;
}

.menu-title {
    color: var(--main-color);
    font-family: "Pinyon Script", serif;
    font-size: 2.5rem;
    padding-top: 16px;
    text-align: center;
}

.menu-body {
    line-height: 1.625;
    font-family: "Source Sans Pro", serif;
    color: var(--paragraph);
}

@media only screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }

    body {
        background: linear-gradient(to top,rgba(255,255,255,0.6),rgba(255,255,255,0.6))
    }

    .main {
        position: relative;
    }

    .oranges {
        margin-top: 20px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .spices {
        left: 0;
        position: absolute;
        top: 33%;
    }

    .nav {
        align-items: baseline;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1110px;
    }

    .nav-title a{
        display: inline-block;
        margin-bottom: 0;
    }

    .reservation {
        margin-top: 0;
    }

    .baseline {
        padding: 98px 0 170px;
    }

    .welcome {
        font-size: 3.75rem;
    }

    .big-title {
        font-size: 68px;
        letter-spacing: 13px;
        margin-top: 9px;
    }

    .specialities {
        font-size: 1.5rem;
        letter-spacing: 4px;
    }

    .card {
        align-items: center;
        display: flex;
        height: 455px;
        justify-content: space-between;
        margin: -20px auto 90px;
        position: relative;
        width: 919px;
    }

    .card-body {
        height: 269px;
        width: 445px;
    }

    .card-body-left{
        margin-left: 94px;
    }

    .card-body-right {
        margin-right: 94px;
    }

    .card-picture {
        height: 425px;
        margin: -30px 0 0 0;
        padding: 0;
        width: 350px;
        z-index: 2;
    }

    .card-picture-left {
        background: url(img/burger_desktop.jpg);
        transform: translate(30px,30px);
   }

    .card-picture-right {
        background: url(img/crusted-chicken.jpg);
        order: 2;
        transform: translate(-30px,30px);
    }

    .box-left {
        border: solid 2px var(--main-color);
        border-radius: 2px;
        content: '';
        height: 425px;
        position: absolute;
        top: 0;
        width: 350px;
        z-index: 1;
    }

    .box-right {
        border: solid 2px var(--main-color);
        border-radius: 2px;
        content: '';
        height: 425px;
        position: absolute;
        right:0;
        top: 0;
        width: 350px;
        z-index: 1;
    }

     .card-body-subtitle{
        margin-top: 0;
        padding-top: 0;
    }

    .card-body-title{
        margin-bottom: 10px;
        margin-top: -22px;
        padding-top: 0;
    }
}
