html {
    font-size: 16px;
}

body {
    font-family: "source sans pro", sans-serif;
    line-height: 1.625;
    margin: 0;
}

.header {
    background: url("img/restaurant.jpg");
    color: #FFF;
    height: 612px;
    width: 1440px;
}

.header .nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 29px 166px;
}

.nav-menu, .nav-title {
    text-transform: uppercase;
}

.reservation {
    border: solid 1px #C89446;
    border-radius: 2px;
    padding: 18px;
    text-transform: uppercase;
}

.welcome {
    color: #C89446;
    font-family: "Pinyon Script", sans-serif;
    font-size: 60px;
    line-height: .5;
    margin-top: 82px;
}

.big-title {
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 12px;
    text-transform: uppercase;
}

.specialities {
    font-size: 24px;
    font-weight: lighter;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.nav .nav-menu a {
    color: inherit;
    display: inline-block;
    font-size: 0.875rem;
    letter-spacing: 2px;
    margin-right: 33px;
    text-decoration: none;
}

.nav .nav-menu a:last-child {
    margin-right: 0;
}

.header ul li {
    display: block;
    list-style-type: none;
    text-align: center;
}
